[user]
  name = Ilias Rinis
  email = iliasr@gmail.com
  signingkey = 6350313EDE6D4E66

[core]
  editor = nvim

[diff]
  tool = nvim -d

[merge]
  conflictstyle = diff3

[color "diff"]
  meta = yellow bold
  frag = cyan
  old = red bold
  new = green bold

[alias]
  ci = commit
  fix = commit --fixup
  amend = commit --amend
  amno = commit --amend --no-edit
  cp = cherry-pick
  st = status -s
  co = checkout
  cb = checkout -b
  br = branch
  fp = fetch --prune --tags

  # diffs
  df = diff
  dfc = diff --cached

  # add
  ap = add --patch

  # rebase
  ri = rebase --interactive
  ria = rebase --interactive --autosquash
  rc = rebase --continue
  ra = rebase --abort

  # push/pull
  pu = push --set-upstream
  pr = pull --rebase

  # stash aliases
  sl = stash list
  sa = stash apply
  ss = stash save
  sh = stash
  sp = stash pop
  sc = stash clear

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # log listing aliases
  # Author stats
  who = shortlog -s --

  # All my commits since yesterday midnight
  sup = !git log --since=yesterday.midnight --author=\"$(git config user.name)\" --oneline

  # All my commits since 1 week ago
  lw = !git log --since=\"1 week ago\" --author=\"$(git config user.name)\" --pretty=format:\"%Cgreen%cd %C(yellow)%h%Cred%d %Creset%s\" --decorate --date=format:\"%F %T\"

  # vimod
  vimod = "!vim -p `git status -s | awk '{ if ($1 == \"M\") print $2 }'`"

  # grep
  ggrep = "grep --break --heading --line-number"

[push]
  default = current

[pull]
  rebase = true

[commit]
  gpgsign = true

[includeIf "gitdir:/home/ilias/Syncthing/notes/.obsidian/"]
  path = .config/git/liouk-redarch

[includeIf "gitdir:/home/ilias/.apparatus/"]
  path = .config/git/liouk-redarch

[includeIf "gitdir:/home/ilias/liouk/"]
  path = .config/git/liouk-redarch

[includeIf "gitdir:/home/ilias/redhat/"]
  path = .config/git/redhat-redarch

[includeIf "gitdir:/Users/ilias/Workspace/redhat/"]
  path = .gitconfig-redhat-stingray
