.DS_Store
*.un~
*.swp
vim/bundle/*
vim/.netrwhist
util/known_ip
*.bak
automatic_backups/

# obsidian
obsidian/.obsidian/workspace.json
obsidian/.obsidian/plugins/remember-cursor-position/cursor-positions.json
