[submodule "vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
