#custom-google-calendar {
	padding: 0 10px;
	color: @blue;
}

#custom-google-calendar.none {
	padding: 0;
}

#custom-google-calendar.imminent {
	background-color: rgba(137, 180, 250, 0.55);
	color: @base;
}

#custom-google-calendar.imminent.urgent {
	background-color: @blue;
}
